#!/usr/bin/env bash
watch_file devshell.nix flake.nix flake.lock
PATH_add "$(nix build --no-link --print-out-paths --accept-flake-config .#devShells.$(nix eval --raw --impure --expr builtins.currentSystem).default)/bin"
export PRJ_ROOT=$PWD
export KIN_IDENTITY="${KIN_IDENTITY:-$PRJ_ROOT/keys/users/$(whoami).key}"
source_env_if_exists .envrc.local
