#!/usr/bin/env bash
watch_file flake.lock default.nix
local profile
profile="$(direnv_layout_dir)/profile"
mkdir -p "$(direnv_layout_dir)"

if has iets \
   && out=$(iets build --print-read-paths=3 \
              -E '(import ./default.nix).packages.${builtins.currentSystem}.devshell' \
              3>"$profile.deps"); then
  nix-store --add-root "$profile" --indirect -r "$out" >/dev/null
  watch_file $(< "$profile.deps")
else
  nix build --out-link "$profile" .#devshell
fi
[[ -d "$profile/bin" ]] || fail "oops, $profile is empty"

PATH_add "$profile/bin"
n=${GIT_CONFIG_COUNT:-0}
export GIT_CONFIG_KEY_$n=include.path GIT_CONFIG_VALUE_$n="$profile/share/kin/gitconfig"
export GIT_CONFIG_COUNT=$((n + 1))
source_env_if_exists .envrc.local
